.PopupBase {
    background-color: lightskyblue;
    min-width: 150px;
    z-index: 1;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px  gray;
    margin: auto;
    position: absolute;
}
.PopupTitleBase {
    text-align: left;
    padding: 5 0 3 10;
    font-weight: bold;
    font-size: large;
    color: black;
    cursor: move;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid black;
    min-height: 20;
}
.PopupBodyBase {
    padding: 3 10 3 10;
}
.PopupCloseBase {
    position: absolute;
    right: 2; top:2;
    cursor: pointer;
}
.PopupItem {
    margin: 5 5 5 5;
}
.NumericUpDown {
    display: inline-block;
    width: 4em;
}
.ButtonFloatRight {
    float: right;
    margin: 5 0 5 30 ;
}
.DialogText {
    margin-top: 5;
    word-wrap: normal;
    font-size: large;
    font-weight: bold;
}
.DialogTitle {
    font-size: medium;
    background-color: lightpink;
}
.DialogNote {
    font-size: medium;
    background-color: lightgreen;
}